<!DOCTYPE html>
<html>
  <head>
    <title>Marionette</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
    <%= yield %>
    </div>
    <footer class="page-footer font-small blue pt-4">
      <div class="container-fluid text-left text-md-left">
        Marionette version <%= Rails.configuration.marionette_version %> 
      </div>
    </footer>
  </body>
</html>
